h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.float-right {
  float: right;
  color: blue;
}

#total-price.product {
  font-weight: bold;
  background-color: azure;
  color: blue;
}

#checkout {
  font-weight: bold;
  background-color: green;
  color: white;
}