h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

#products-header {
  font-weight: bold;
}

.name,
.price,
.stock,
.used {
  display: inline-block;
  margin: 10px;
  width: 200px;
}

div.product {
  margin-top: 10px;
  border: 1px dotted crimson;
}

#product {
  margin-top: 50px;
  border: 2px solid darkblue;
  font-weight: bold;
  color: blue;
}

.float-right {
  float: right;
  color: blue;
}